<form (ngSubmit)="onSubmit(accountForm)" #accountForm="ngForm">
  <table>
    <tr>
      <td> <label>Enter Account Name</label>  </td>
      <td> <input required #accName="ngModel"  type="text" name="name" [(ngModel)]="accountObj.name"/>  </td>
      <td> 
        <div class="errorClass"> 
            <div *ngIf="accName.invalid==true && accName.pristine==false" >
              Name cannot be left blank
            </div>
        </div>
      </td>
    </tr>
    <tr>
      <td> <label>Enter Account Email</label>  </td>
      <td> <input required #accEmail="ngModel"   type="text" name="email" [(ngModel)]="accountObj.email"
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
         />  </td>
      
         <td> <div class="errorClass">  
        <div *ngIf="accEmail.invalid==true && accEmail.pristine==false" >
          <div *ngIf="accEmail.errors?.required">
            Email is required.
          </div>
          <div *ngIf="accEmail.errors?.pattern">
            not a valid email.
          </div>
      </div>
      </div>  </td>

    </tr>
    <tr>
      <td> <label>Enter Account Balance</label>  </td>
      <td> <input required   type="text" name="balance" [(ngModel)]="accountObj.balance"/>  </td>
      <td> <div class="errorClass"> </div>  </td>
    </tr>

    <tr>
      <td>   </td>
      <td> <input type="submit" value="Enter Account"  [disabled]="accountForm.form.invalid"  />  </td>
      <td>   </td>
    </tr>


  </table>
</form>